{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!
{% endblock
%}
{% block body %}
	<div class="container col-md-7 mt-3">
		<div class="p-5 pt-3">
			<h1>
				Bienvenue sur
				News
			</h1>
			<small>Lorem, ipsum dolor sit amet consectetur a dipisicing elit. Cumque, fugiat
				      harum quas libero officiis beatae!orem, ipsum dolor sit amet consectetur a
				      dipisicing elit. Cumque, fugiat harum quas libero officiis</small>
              <hr>
              <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, voluptatum?</small><br>
			<button class="btn btn-primary btn-sm mt-2">Se connecter</button>
			<button class="btn btn-primary btn-sm mt-2">S'inscrire</button>
		</div>
	</div>
{% endblock %}
